<?xml version="1.0" encoding="UTF-8"?>
<configuration>
                      <!-- назва   -->
    <appender name="ConsoleAppender"
        class="ch.qos.logback.core.ConsoleAppender">    <!-- запис в консоль. RollingFileAppender  - запис в файл   -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
  <!--           чорним  дата    формат         підсвітити 5пробілів синій який_потік    -->
                %black(%d{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
  <!--                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable-->
            </Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="INFO">  <!-- всі логи рівня INFO і вище записуються в  ConsoleAppender  -->
        <appender-ref ref="ConsoleAppender"/>
    </root>

</configuration>
